<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>617097786943-cnkcv469rsc3s8k14iul5nl0eq7qej65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617097786943-cnkcv469rsc3s8k14iul5nl0eq7qej65</string>
	<key>API_KEY</key>
	<string>AIzaSyBCbWBP1eFZbyPOkpGSI5cV5GRWfOhsz9w</string>
	<key>GCM_SENDER_ID</key>
	<string>617097786943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AUSU.RFinder</string>
	<key>PROJECT_ID</key>
	<string>testing-fca7c</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-fca7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:617097786943:ios:861f1db77350f9b0</string>
	<key>DATABASE_URL</key>
	<string>https://testing-fca7c.firebaseio.com</string>
</dict>
</plist>